---
const year = new Date().getFullYear();

const socialLinks = [
  {
    url: "https://github.com/eddiesigner",
    icon: "github-logo",
    name: "GitHub",
  },
  { url: "https://twitter.com/eddiesigner", icon: "x-logo", name: "Twitter" },
  {
    url: "https://linkedin.com/in/eddiesigner",
    icon: "linkedin-logo",
    name: "LinkedIn",
  },
  {
    url: "https://instagram.com/eddiesigner",
    icon: "instagram-logo",
    name: "Instagram",
  },
];

import Wrapper from "../ui/Wrapper.astro";
import Icon from "../ui/Icon.astro";
---

<footer class="footer">
  <Wrapper>
    <div class="footer-wrapper">
      <div class="footer-main">
        <div class="footer-info">Site crafted with care by me.</div>
        <div class="footer-info">
          &copy; {year} All rights reserved
        </div>
        <div class="footer-info">Eduardo Gómez Vásquez</div>
      </div>
      <nav class="footer-links" aria-label="Social media links">
        {
          socialLinks.map(({ url, icon, name }) => (
            <a href={url} target="_blank" rel="noopener noreferrer">
              <span class="sr-only">Follow Eduardo on {name}</span>
              <Icon id={icon} size={20} />
            </a>
          ))
        }
      </nav>
    </div>
  </Wrapper>
</footer>

<style>
  .footer {
    --padding: 32px;
    padding-block: var(--padding);
    border-top: 1px solid var(--alt-background);

    @media (min-width: 1024px) {
      --padding: 64px;
    }
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .footer-main {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (min-width: 720px) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: 64px;
    }

    @media (min-width: 1024px) {
      flex: 1;
      min-width: 1px;
    }
  }

  .footer-info {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--light-text);

    @media (min-width: 1024px) {
      flex: 1;
      font-size: 1rem;
    }
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--light-text);
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--foreground);
      }

      &:focus-visible {
        color: var(--foreground);
      }
    }
  }
</style>
